.navigation-bar {
  background-color: #1f2428;
  height: 50px;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #fff;
}

.hero {
  background-color: #1f2428;
  height: 50%;
  width: 100%;
  padding-bottom: 50px;
}

#profile_pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.hero--content {
  padding-top: 3em;
  color: #fff;
}

.hero--content--intro {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}

.intro--name {
  font-size: 8vw;
}

.description {
  font-size: 6vw;
  text-align: center;
}

.slogan {
  font-size: 4vw;
  text-align: center;
}
