:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --color1: #e66a52;
  --color2: #ffffff;
  --color3: #7e7e7e;
  --color4: #292929;

  /* --borderColor: #c1c1c1; */
  --borderColor: black;

  --mainText: black;
  --secondaryText: #4b5156;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 95%;
  margin: 0 auto;
  padding: 2%;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.os-wrapper {
  display: flex;
  flex-direction: auto auto;
  margin: 0 5px;
  gap: 10px;
}

.os-icon {
  height: 32px;
}
.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);

  -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em auto;
  grid-template-areas: "nav-wrapper nav-wrapper" "left-col right-col";
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#navigation {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
  padding: 1em;
  white-space: nowrap;
}
.buttons-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 1px 0 0;
  height: -webkit-fill-available;
}

.browser-button {
  display: grid;
  background-color: black;
  aspect-ratio: 1;
  place-content: center;
  user-select: none;
}
.browser-button:hover {
  background-color: #4b5156;
}
.browser-svg {
  fill: white;
  height: 24px;
}

.left-col {
  grid-area: left-col;

  display: grid;
  place-content: center;
  justify-items: center;
  padding: 1em;
}
#mo-logo {
  max-width: 25vw;
  border: 2px solid var(--borderColor);
  border-radius: 50%;
}
#theme-options-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  justify-items: center;
  gap: 2vw;
}

.theme-dot {
  height: 50px;
  width: 50px;
  background-color: black;

  border-radius: 50%;
  border: 1px solid var(--borderColor);

  -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

.theme-dot:hover {
  transform: scale(1.1);
}

#light-mode {
  background-color: whitesmoke;
}
#dark-mode {
  background-color: #18255e;
}

.right-col {
  grid-area: right-col;

  display: grid;
  place-content: center;
  padding: 1em;
}
